/* Custom Vars */

:root {
    --font-family-sans-serif: 'Poppins', sans-serif;
    --font-family-text: 'Roboto', sans-serif;
    --font-family-heading: var(--font-family-sans-serif);
    --blue: #22abff;
    --green: #81bc26;
    --yellow: #e79300;
    --purple: #8b2a74;
    --info: #8b2a74;
    --black: #000000;
    --pink: #d24068;
    --purple2: #712363;
    --gray-dark: #4f4f4f;
    --white: #FFFFFF;
}
